<div th:fragment="bookingCard(booking)" class="booking-card">
    <div class="booking-left">
        <h3 th:text="${booking.hotelName}"></h3>
        <p><span th:text="${booking.roomNumber}"></span></p>
        <p>Check-in : <span th:text="${booking.checkinDate}"></span></p>
        <p>Check-out : <span th:text="${booking.checkoutDate}"></span></p>
    </div>

    <div class="booking-right">
        <span class="status" 
              th:text="${booking.bookedStatus}"
              th:classappend="${booking.bookedStatus}">
        </span>
    </div>
</div>
