.sidebar {
	padding: 0.8rem;
	width: 25%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background-color: var(--color-primary);
	height: 100vh;
	color: var(--color-base);
}

.sidebar .sidebar-links {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}

.sidebar .sidebar-links a {
	padding: 0.8rem;
	color: var(--color-base);
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: 600;
	border-radius: 6px;
}

.sidebar .sidebar-links a:hover {
	background-color: var(--color-secondary);
	cursor: pointer;
}

.sidebar-links a.active {
	background-color: var(--color-secondary);
}

.sidebar button {
	padding: 1rem;
}
