.btn {
	background-color: var(--color-secondary);
	padding: 0.6rem;
	font-size: 16px;
	border-radius: 6px;
	color: var(--color-base);
	border: none;
	font-weight: 600;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}

.btn-confirm {
	background-color: var(--color-green) !important;
}

.btn-confirm:hover {
	background-color: var(--color-green-select) !important;
}

.btn-reject {
	background-color: var(--color-red) !important;
}

.btn-reject:hover {
	background-color: var(--color-red-select) !important;
}

.w-full {
	width: 100%;
}

.btn-secondary {
    background: var(--color-secondary);
}

.btn-secondary:hover {
    background: var(--color-accent);
}

.profile-btn {
    padding: 10px 20px;
	font-size: 14px;
	border-radius: 8px;
	color: var(--color-base);
	border: none;
	font-weight: 600;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	margin-right: 2px;
	margin-top: 10px;
}
