.btn {
	background-color: var(--color-secondary);
	padding: 1rem;
	font-size: 16px;
	border-radius: 6px;
	color: var(--color-base);
	border: none;
	font-weight: 600;
	cursor: pointer;
}

.btn-confirm {
	background-color: var(--color-green) !important;
}

.btn-reject {
	background-color: var(--color-red) !important;
}
