:root {
	--color-base: #eceff4;
	--color-overlay-1: #e5e9f0;
	--color-overlay-2: #d8dee9;
	--color-primary: #2e3440;
	--color-secondary: #434c5e;
	--color-accent: #4c566a;
	--color-red: #bf616a;
	--color-red-select: #9c4b52;
	--color-green: #a3be8c;
	--color-green-select: #8ba377;
}
