:root {
  --color-base: #eceff4;
  --color-overlay-1: #e5e9f0;
  --color-overlay-2: #d8dee9;
  --color-primary: #2e3440;
	--color-secondary: #434c5e;
	--color-red: #bf616a;
	--color-green: #a3be8c;
}
