.form-body {
				background-color: var(--color-primary);
}
.form-container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-base);
}

.form-container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-main {
	width: 20rem;
	background-color: var(--color-secondary);
	padding: 1rem;
	border: none;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.4rem;
}

.input-label {
	text-align: left;
	width: 100%;
}

.input-label input {
	width: 100%;
	padding: 0.6rem;
	background-color: var(--color-overlay-1) !important;
	border: none;
	border-radius: 6px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.mini-label {
	font-size: 10px;
	color: var(--color-base);
}
