@import url("colorschemes.css");
@import url("client/sidebar.css");
@import url("button.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
	background-color: var(--color-base);
	margin: 5px;
}
