@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("colorschemes.css");
@import url("client/sidebar.css");
@import url("button.css");
@import url("form.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	display: flex;
	background-color: var(--color-base);
}

main {
	margin: 10px;
}

.heading-main {
    margin-left: 10px;
    color: var(--color-primary);
}


.profile-view p {
    font-size: 16px;
	margin-bottom: 5px;
}

.profile-edit {
    display: none;
}

.profile-input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--color-overlay-2);
    background: var(--color-base);
    color: var(--color-primary);
    font-size: 14px;
    transition: 0.2s;
}

.no-bookings-active {
    margin-left: 10px;
    color: var(--color-secondary);
}

.popup-success, .popup-error {
	background-color: var(--color-base);
    border-radius: 15px;
	padding: 10px 10px 30px 10px;
}

.popup-success {
    border: 2px solid var(--color-green);
}

.popup-error {
    border: 2px solid var(--color-red);
}

.title-success, .title-error {
    font-size: 18px;
    font-weight: bold;
}

.title-success {
    color: var(--color-green);
}

.title-error {
    color: var(--color-red);
}

