<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/client}">
<body>
	<div layout:fragment="content">
		<div th:replace="~{components/heading-main :: headingMain('List Hotel')}"></div>
		<div class="hotel-grid">
			<div class="hotel-card" th:each="h : ${hotels}" th:onclick="|window.location='/hotels/${h.id}'|">
				<h3 th:text="${h.name}">Hotel Name</h3>
				<p th:text="${h.location}">Hotel Location</p>
			</div>
		</div>
	</div>
</body>
</html>