<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/client}">

<head>
	<meta charset="UTF-8">
	<title>Hotel Rooms</title>
</head>

<body>
	<div layout:fragment="content">
		<div th:replace="~{components/heading-main :: headingMain('List Rooms')}"></div>
		<div class="room-grid">
			<div class="room-card" th:each="room : ${rooms}" th:classappend="${room.isAvailable != 1} ? ' unavailable'"
				th:onclick="${room.isAvailable == 1} ? 'window.location=\'/booking/confirm/' + ${room.id} + '\';' : null">
				<h3>Room <span th:text="${room.roomNumber}"></span></h3>
				<p th:text="'Rp ' + ${room.price}"></p>
				<div class="room-status" th:text="${room.isAvailable == 1 ? 'Available' : 'Not Available'}">
				</div>
			</div>
		</div>
		<br>
		<a href="/" class="profile-btn profile-btn-secondary" style="margin-left: 10px;">Back Home</a>
	</div>
</body>

</html>