<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link rel="stylesheet" href="/css/main.css" />
</head>
<body class="form-body">
	<main class="form-container">
		<form action="/api/user/register" method="post" class="form-main">
			<h2>Register</h2>
			<div class="input-label">
				<label>Nama:</label>
				<input type="text" name="nama" required>
			</div>
			<div class="input-label">
				<label>Email:</label>
				<input type="email" name="email" required>
			</div>
			<div class="input-label">
				<label>Username:</label>
				<input type="text" name="username" required>
			</div>
			<div class="input-label">
				<label>Password:</label>
				<input type="password" name="password" required>
			</div>
			<button type="submit" class="btn btn-confirm w-full" style="margin-top: 10px;">Register</button>
			<span class="mini-label" style="text-align: center;">- or -</span>
			<a href="/login" class="btn btn-confirm w-full">Login</a>
		</form>
	</main>
</body>
</html>
