<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body class="form-body">
    <main class="form-container">
        <form action="/api/user/forgot-password" method="post" class="form-main">
            <h2>Forgot Password</h2>
            <div class="input-label">
                <label>Email:</label>
                <input type="email" name="email" required>
            </div>
            <div class="input-label">
                <label>New Password:</label>
                <input type="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-confirm w-full" style="margin-top: 10px;">Reset Password</button>
            <span class="mini-label" style="text-align: center;">Remimber password? <a href="/login" class="mini-label">Login</a></span>
        </form>
    </main>
</body>
</html>