<!DOCTYPE html>
<html>

<head>
	<title>Login</title>
	<link rel="stylesheet" href="/css/main.css" />
</head>

<body class="form-body">
	<main class="form-container">
		<form action="/api/user/login" method="post" class="form-main">
			<h2>Login</h2>
			<div class="input-label">
				<label>Email:</label>
				<input type="email" name="email" required>
			</div>
			<div class="input-label">
				<label>Password:</label>
				<input type="password" name="password" required>
			</div>
			<div style="text-align:right !important;">
				<a href="/forgot-password" class="mini-label">Forgot Password?</a>
			</div>
			<button type="submit" class="btn btn-confirm w-full">Login</button>
			<span class="mini-label" style="text-align: center;">- or -</span>
			<a href="/register" class="btn btn-confirm w-full">Register</a>
		</form>
	</main>
</body>

</html>